html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *before, *after{
    box-sizing: inherit;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: #777;
}

h1{
    text-align: center;
    font-size: 10rem;
    color: #222;
    font-family: 'Caveat', cursive;
    margin-bottom: 0;
}

h2{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    color: #111;
}


.grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.lab{
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Caveat', cursive;
    color: #222;
    margin: 0;
    top: 50%;
    left: 50%;
    text-align: center;
    min-height: 10rem;
    border: 1px solid black;
    padding: 1rem;
}

.lab:hover{
    color: #ddd;
}

a:hover{
    background-color: #444;
}
